<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:file:C:\Users\OmeN\IdeaProjects\SpringMVC1\TestWebApp/TestDB</property>
        <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>


        <!-- LIST XML MAPPING FILES -->
        <mapping resource="resources/Users.hbm.xml"/>

    </session-factory>
</hibernate-configuration>